.people {
  padding: 2% 42px 0 42px;
  position: static;
  justify-content: space-around;
  margin: 0;
}

.people-viewport {
  position: absolute;
  top: -1px;
  right: -1px;
  bottom: -1px;
  left: -1px;
  border: 1px solid #317B8A;
  border-radius: 4px;
  margin: 0;
}

.people-viewport_crop {
  position: absolute;
  width: 100%;
  height: 100%;
  overflow: hidden;
}

.person {
	width: 24%;
	background: #333;
	border: 2px solid #666;
	margin: 0 30px 30px;
	position: relative;
	cursor: pointer;
  position: relative;
}

.person img {
  margin-bottom: -2px;
}

.person--selected {
  border-color: black;
}

.person--not-selected {
  filter: grayscale(1);
  opacity: .6;
}

.person--correct {
  border-color: green;
}

.person--incorrect {
  border-color: red;
}

.person--too-slow {
  border-color: #e18728;
}

.play-page--active .person {
	/* transform: translateY(0) scale(1); */

  /* opacity: 1; */
	/* transition: opacity 0.8s ease-in; */
}

/* .play-page--active .person:first-child { */
/*  */
/* 	transition-delay: 0.1s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(2) { */
/* 	transition-delay: 0.15s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(3) { */
/* 	transition-delay: 0.2s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(4) { */
/* 	transition-delay: 0.25s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(5) { */
/* 	transition-delay: 0.3s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(6) { */
/* 	transition-delay: 0.35s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(7) { */
/* 	transition-delay: 0.4s; */
/* } */
/*  */
/* .play-page--active .person:nth-child(8) { */
/* 	transition-delay: 0.45s; */
/* } */

.people-viewport_spinner {
  position: absolute;
  width: 100%;
  height: 100%;
  background-color: white;
  z-index: 1;
}

.people-viewport_spinner .spinner {
  display: block;
  margin: 0 auto;
}

.spinner .pulse {
  width: 150px;
  height: 150px;
  background-color: #5294A2;
}

.person_overlay {
  position: absolute;
  width: 100%;
  bottom: 0;
  color: white;
  font-weight: 700;
}

.person_overlay p {
  position: relative;
  z-index: 1;
  justify-content: center;
  width: auto;
  margin: .5em 0;
}

.person_overlay .icon {
  font-size: 200%;
  margin-right: 10px;
}

.person_overlay:before {
  display: block;
  content: '';
  position: absolute;
  width: 100%;
  height: 100%;
  opacity: 0.7;
}

.person_overlay--correct:before {
  background-color: green;
}

.person_overlay--incorrect:before {
  background-color: red;
}

.person_overlay--too-slow:before {
  opacity: .85;
  background-color: #e18728;
}
